.header.row
  .header_content.span12
    .home_logo= link_to image_tag("themes/white/home_logo.png"), root_path
    .login_button= link_to t("devise.sessions.sign_in"), "javascript:void(0)", :class => "btn sign_in_button"
