.home_content.span12
  .iphone= image_tag("iphone.png")
  .text= image_tag("themes/white/text.png")
  .home_desc 时光笔记是一部完全由手机书写的个人生活日志；<br/>随时随地，一段文字，一张照片，记录每个生活片段；<br/>这些片段自动组成一天的时光、一月的时光、一生的时光；然后，您就可以方便的回溯、品味或与值得分享的人分享属于您的时光。
  .links
    = link_to t("start"), "javascript:void(0)", :class => "btn btn-success btn-large start_time"
    = link_to image_tag("appstore.png"), "#"
